doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/login.css')
  body
    form
      label(for='username') username
      input#username(type='text')
      label(for='password') password
      input#password(type='text')
      button(type='submit') 提交
