.sideBarTransition-enter {
  opacity: 0.01;
}

.sideBarTransition-enter.sideBarTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sideBarTransition-leave {
  opacity: 1;
}

.sideBarTransition-leave.sideBarTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
